@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        
    </head>
    <body>
    	
    	<a href="http://172.17.2.15:9000">home</a>
    	<a href="http://172.17.2.15:9000/schemas">schemas</a>
    	<a href="http://172.17.2.15:9000/data">data</a>
    	<a href="http://172.17.2.15:9000/generator">generator</a>
    	<a href="http://172.17.2.15:9000/compare">compare</a>
    	<a href="http://172.17.2.15:9000/makeimport">makeimport</a>
    
        @content
    </body>
</html>
